
<h1>All our pets</h1>
<div class="container">
  <% @pets.each do |pet| %>
    <div class="card" style="width: 288px;">
      <img class="card-img-top" src="#" alt="Card image">
      <div class="card-body">
        <h3> <%=  pet.name %></h3>
        <p class="card-text"> <%= pet.species %> </p>
        <p class="card-text"> <%= pet.city %> </p>
      </div>
      <%= link_to "", pet_path(pet), class: 'card-link' %>
    </div>
  <% end %>
 <!--  <div class="card" style="width: 288px;">
    <img class="card-img-top" src="#" alt="Card image">
    <div class="card-body">
      <p class="card-title"> pets name</p>
      <div class="card-box">
        <p class="card-text">Pet Species </p>
        <p class="card-text"> rating</p>
        <p class="card-text">date</p>
      </div>
    </div>
  </div>
  <div class="card" style="width: 288px;">
    <img class="card-img-top" src="#" alt="Card image">
    <div class="card-body">
      <p class="card-title"> pets name</p>
      <p class="card-text">Species</p>
      <p class="card-text"> rating</p>
      <p class="card-text">date</p>
    </div>
  </div> -->
</div>



<% @pets.each do |pet| %>
  <h3> <%= link_to pet.name, pet_path(pet) %> </h3>
  <p> <%= pet.species %> </p>
  <p> <%= pet.city %> </p>
<% end %>


