<div class="container">
    <div class="pet-flex">
        <div class="pet-information">
          <% if @pet.picture.attached? %>
            <%= cl_image_tag @pet.picture.key, height: 300, width: 250, class: "pet-pic", crop: :fill %>
          <% end  %>
          <div class="pet-text">
            <h3> Hello there, I am <%= @pet.name %> </h3>
            <br>
            <p> <strong>About me:</strong> <%= @pet.description %></p>
            <p> <strong>Species:</strong> <%= @pet.species %> </p>
            <p> <strong>Address:</strong> <%= @pet.address %> </p>
            <p> <strong>City:</strong> <%= @pet.city %> </p>
          </div>
        </div>

        <div class="appointment-form">
          <h3>Schedule a Snuggle Session with <%= @pet.name %> </h3>
          <%= simple_form_for([@pet, @appointment]) do |f| %>
            <%= f.input :date %>
            <%= f.input :start_time, as: :time, :minute_step => 15 %>
            <%= f.input :end_time, as: :time, :minute_step => 15 %>
            <%= f.input :message %>
            <%= f.button :submit, "Schedule snuggle session", class: "btn btn-block" %>
          <% end %>
        </div>
    </div >
  <%= link_to "Back to all our pets", pets_path, class: "text-muted" %>
</div>
