<div class="container" >
  <h2>All your appointments</h2>
  <div class="container-main">
    <div class="card-product">
      <% @appointments.each do |appointment| %>
      <div class="card-appointment" >
      <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> -->
        <h3> <%= appointment.pet.name %> </h3>
        <div class="card-body">
          <p> Date of the snuggle: <%= appointment.date.to_s(:long_ordinal) %> </p>
          <p> Starting Time:  <%= appointment.start_time.strftime('%H:%M') %> </p>
          <div class="btn">

          <%= link_to "View", appointment_path(appointment) %>
          </div>
          <br>
          <%= link_to "Delete", appointment_path(appointment), method: :delete %>
        </div>
      </div>
     <% end %>
    </div>
  </div>
</div>



