  <div id="card-show-appo" class="card mb-4" style="width: 28%; margin: auto; margin-top: 30px">
    <div id="textappo">
      <h2 style="font-family: 'Poppins'">Snuggle session with <%= @appointment.pet.name %> </h2>
      <p style="font-family: 'Poppins'; font-size: 14px"> <%= @appointment.pet.description %> </p>
      <p style="font-family: 'Poppins'"><strong> ADDRESS:</strong> <%= @appointment.pet.address %> </p>
      <p style="font-family: 'Poppins'"><strong> DATE:</strong> <%= @appointment.date.to_s(:long_ordinal) %> </p>
      <p style="font-family: 'Poppins'"><strong> TIME: From <%= @appointment.start_time.strftime('%H:%M') %> to <%= @appointment.end_time.strftime('%H:%M') %> </p>
    </div>
    <div id="imgappo">
      <div class="card-image-pet" style="width: 80%, text-align: center">
        <%= cl_image_tag @appointment.pet.picture.key, height: 200, width: 200, crop: :fill %>
      </div>
    </div>
  </div>

