<h2>Appointment with <%= @appointment.pet.name %> </h2>
<p> <%= @appointment.pet.description %> </p>
<p> <%= @appointment.pet.address %> </p>
<p> From <%= @appointment.start_time.strftime('%H:%M') %> to <%= @appointment.end_time.strftime('%H:%M') %> </p>
